<section style="background-image: linear-gradient(to top, #FFFFFF,#0e6251, #8aacbb, #FFFFFF, #ffffff);width: 100%;height: 100%;" *ngIf="skill">
  <div class="container" >
    <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <fieldset>
              <legend class="text-center header">Modifique el Skill</legend>
              <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                <div class="col-md-8" style="width: 100%;">
                  <input id="nombreS" name="nombreS" type="text" placeholder="Nombre del Skill"
                    class="form-control" [(ngModel)]="skill.nombreS" required>
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-1 text-center"><i class="fa-solid fa-percent"></i></span>
                <div class="col-md-8" style="width: 100%;">
                  <input id="porcentaje" name="porcentaje" type="text"
                    placeholder="Porcentaje del Skill" class="form-control" [(ngModel)]="skill.porcentaje"
                    required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12 text-center" style="margin-top:30px ;">
                  <button type="submit" class="btn btn-dark btn-lg">Modificar Skill</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>







