<!--acerca de-->
<section class="acercaDe">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <h3>Acerca de.....</h3>
        <p>
          Soy docente de historia, pero siempre me intereso la tecnología, a tal punto que me capacite en reparación de PC, notebook, netbook y redes, comencé con mi propio emprendimiento en mis tiempos libres. Me interese por la programación por que sentía que me faltaba explorar una parte fundamental de lo que tanto me apasiona,esta pasión me llevo a capacitarme como Full StackDeveloper Jr, que es un camino de aprendizaje continuo, el cual estoy dispuesto a seguir, como una opción de evolución personal y profesional.
        </p>
      </div>
      <!--<div class="col-1 icoAcercaDe">
        <span class="iconoCruz"><button><i class="fa-solid fa-pen-clip"></i></button></span>
      </div>-->
    </div>
  </div>
</section>
<!--fin acerca de-->
