<app-encabezado></app-encabezado>
<app-acerca-de></app-acerca-de>
<!--experiencia educacion-->
<section class="experienciaEdu">
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
</section>
<!--fin experiencia educacion-->
<app-skills-hs></app-skills-hs>
<app-proyectos></app-proyectos>
<footer>
  <img src="assets/iconos/APLogo-20-20.png" width="100px" height="100px">
  <p class="copyright">© Copyright Argentina Programa -2022</p>
  <p class="copyright">Portfolioweb-Carlos E. Rodriguez FSDjr.</p>
</footer>
